#**Titanic Survival Prediction using NAIVE BAYES**

Importing Libraries

In [1]:
import numpy as np
import pandas as pd

Uploading Files

In [2]:
from google.colab import files
uploaded = files.upload()

Saving Untitled spreadsheet - Sheet1.csv to Untitled spreadsheet - Sheet1.csv

In [3]:
dataset = pd.read_csv('Untitled spreadsheet - Sheet1.csv')

In [4]:
print(dataset.shape)
print(dataset.head(5))

(18, 5)
   P class     Sex   Age     Fare  Survived
0        3    male  22.0   7.2500         0
1        1  female  38.0  71.2833         1
2        3  female  26.0   7.9250         1
3        1  female  35.0  23.1000         1
4        3    male  35.0   8.0500         0

Converting Gender to binary

In [6]:
income_set = set(dataset['Sex'])
dataset['Sex'] = dataset['Sex'].map({'female' : 0, 'male' : 1}).astype(int)
print(dataset.head)

<bound method NDFrame.head of     P class  Sex   Age     Fare  Survived
0         3    1  22.0   7.2500         0
1         1    0  38.0  71.2833         1
2         3    0  26.0   7.9250         1
3         1    0  35.0  23.1000         1
4         3    1  35.0   8.0500         0
5         3    1   NaN   8.4583         0
6         1    1  54.0  51.8625         0
7         3    1   2.0  21.0750         0
8         2    0  27.0  11.1330         1
9         3    0  14.0  30.0708         1
10        1    0   4.0  16.7000         1
11        3    1  58.0  26.5500         1
12        3    0  20.0   8.0500         0
13        3    1  39.0  29.1250         0
14        2    0  14.0  13.0000         0
15        3    1  55.0  18.0000         1
16        2    0   2.0   7.3350         0
17        3    1   NaN  26.0000         1>

Removing survival column

In [7]:
X = dataset.drop('Survived', axis = 'columns' )
X

    P class  Sex   Age     Fare
0         3    1  22.0   7.2500
1         1    0  38.0  71.2833
2         3    0  26.0   7.9250
3         1    0  35.0  23.1000
4         3    1  35.0   8.0500
5         3    1   NaN   8.4583
6         1    1  54.0  51.8625
7         3    1   2.0  21.0750
8         2    0  27.0  11.1330
9         3    0  14.0  30.0708
10        1    0   4.0  16.7000
11        3    1  58.0  26.5500
12        3    0  20.0   8.0500
13        3    1  39.0  29.1250
14        2    0  14.0  13.0000
15        3    1  55.0  18.0000
16        2    0   2.0   7.3350
17        3    1   NaN  26.0000

In [9]:
Y = dataset.Survived
Y

0     0
1     1
2     1
3     1
4     0
5     0
6     0
7     0
8     1
9     1
10    1
11    1
12    0
13    0
14    0
15    1
16    0
17    1
Name: Survived, dtype: int64

Adding Mean in place of Nan values

In [11]:
X.columns[X.isna().any()]
X.Age = X.Age.fillna(X.Age.mean())

Test again to check any Nan values

In [13]:
X.columns[X.isna().any()]

Index([], dtype='object')

Splitting Dataset into Train and Test

In [14]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(X,Y, test_size = 0.25,random_state=0)

Training

In [15]:
from sklearn.naive_bayes import GaussianNB
model = GaussianNB()
model.fit(x_train,y_train)

GaussianNB(priors=None, var_smoothing=1e-09)

#**Predicting whether person survived or not**

In [17]:
pclassNo = int(input("Enter Person P class: "))
gender = int(input("Enter gender: "))
age = int(input("Enter age: "))
fare = float(input("Enter person's fare: "))
person = [[pclassNo,gender,age,fare]]
result = model.predict(person)
print(result)

if result == 1:
  print("Person might survive.")
else:
  print("Person might not survive.")

Enter Person P class: 3
Enter gender: 1
Enter age: 43
Enter person's fare: 750
[0]
Person might not survive.

Prediction for all test data

In [19]:
y_pred = model.predict(x_test)
print(np.column_stack((y_pred,y_test)))

[[1 1]
 [1 0]
 [1 1]
 [1 1]
 [1 0]]